@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.news__list {
  display: flex;
}

.news__card {
  padding: 15px;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.card__desc {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}