@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.nav{
  background: #322E41;
  padding: 13px 0;
}
.nav__logo{
  padding-top: 14px;
  padding-bottom: 13px;
}
.nav__content{
  color: #fff;
 display: flex;
 justify-content: space-between;
gap: 30px;
}
.menu__link{
  
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
}
.menu__link:hover{
  color: #FFE600;
}
